<style type="text/css">


/*CLASS*/
.div  {padding: 0;margin: 0;}

.title{
    border:5px black solid;
    height: auto;
    width: 100%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 10px;
}

.button_login{
    left: 80%;
    top: 100px;
    position: absolute;
    height: 40px;
    width: auto;
    border: 3px #c1e2b3 solid;
    background-color: inherit;
    margin: auto;
    margin-bottom: 20px;
}
.button_signup{
    left: 70%;
    top: 100px;
    position: absolute;
    height: 40px;
    width: auto;
    border: 3px #c1e2b3 solid;
    background-color: inherit;
    margin: auto;
}


/*ID*/
#title{
    text-shadow: #E8E8E8 5px 5px;
    font-size: 80px;
    font-family: "Apple Braille";
    margin-left: auto;

}

#recipes{
    border: thick;
}

#button{
    font-size: 20px;
    font-family: 'DejaVu Sans Mono', monospace;
    text-align: center;
    margin: 10px;
}

#search_title{
    font-size: 35px;
    margin-left: 20px;
    font-family: 'DejaVu Sans Mono', monospace;
}

#image_pack{
    width: auto;
    float: right;
    margin-right:10%;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
#pack{
    width:auto;
    height: 80%;
    position: relative;
    float: left;
    margin-left: 5%;

}

#searchbar{
    width: auto;
    height: 80%;
    position: relative;
    margin: auto;
    float: left;
}

#inbox {
    font-size: 12px;
    font-family: 'DejaVu Sans Mono', monospace;
    margin: 10px;
    width: 90%;
    height: 25px;
    background-color: lightgrey;
    color: black;
}

#upload{
    font: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #006dba;
}


/*******************************
            Button
*******************************/

.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}


/*******************************
            States
*******************************/


/*--------------
      Hover
---------------*/

.ui.button:hover {
    background-color: #CACBCD;
    background-image: none;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    color: rgba(0, 0, 0, 0.8);
}
.ui.button:hover .icon {
    opacity: 0.85;
}

/*--------------
      Focus
---------------*/

.ui.button:focus {
    background-color: #CACBCD;
    color: rgba(0, 0, 0, 0.8);
    background-image: '' !important;
    box-shadow: '' !important;
}
.ui.button:focus .icon {
    opacity: 0.85;
}

/*--------------
      Down
---------------*/

.ui.button:active,
.ui.active.button:active {
    background-color: #BABBBC;
    background-image: '';
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 0px 1px transparent inset, none;
}

/*--------------
     Active
---------------*/

.ui.active.button {
    background-color: #C0C1C2;
    background-image: none;
    box-shadow: 0px 0px 0px 1px transparent inset;
    color: rgba(0, 0, 0, 0.95);
}
.ui.active.button:hover {
    background-color: #C0C1C2;
    background-image: none;
    color: rgba(0, 0, 0, 0.95);
}
.ui.active.button:active {
    background-color: #C0C1C2;
    background-image: none;
}

/*--------------
    Loading
---------------*/


/* Specificity hack */
.ui.loading.loading.loading.loading.loading.loading.button {
    position: relative;
    cursor: default;
    text-shadow: none !important;
    color: transparent !important;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: all 0s linear, opacity 0.1s ease;
    transition: all 0s linear, opacity 0.1s ease;
}
.ui.loading.button:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -0.64285714em 0em 0em -0.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    border-radius: 500rem;
    border: 0.2em solid rgba(0, 0, 0, 0.15);
}
.ui.loading.button:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -0.64285714em 0em 0em -0.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    -webkit-animation: button-spin 0.6s linear;
    animation: button-spin 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #FFFFFF transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0px 0px 0px 1px transparent;
}
.ui.labeled.icon.loading.button .icon {
    background-color: transparent;
    box-shadow: none;
}
@-webkit-keyframes button-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes button-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.ui.basic.loading.button:not(.inverted):before {
    border-color: rgba(0, 0, 0, 0.1);
}
.ui.basic.loading.button:not(.inverted):after {
    border-top-color: #767676;
}

/*-------------------
      Disabled
--------------------*/

.ui.buttons .disabled.button,
.ui.disabled.button,
.ui.button:disabled,
.ui.disabled.button:hover,
.ui.disabled.active.button {
    cursor: default;
    opacity: 0.45 !important;
    background-image: none !important;
    box-shadow: none !important;
    pointer-events: none !important;
}

/* Basic Group With Disabled */
.ui.basic.buttons .ui.disabled.button {
    border-color: rgba(34, 36, 38, 0.5);
}


/*******************************
             Types
*******************************/


/*-------------------
       Animated
--------------------*/

.ui.animated.button {
    position: relative;
    overflow: hidden;
    padding-right: 0em !important;
    vertical-align: middle;
    z-index: 1;
}
.ui.animated.button .content {
    will-change: transform, opacity;
}
.ui.animated.button .visible.content {
    position: relative;
    margin-right: 1.5em;
}
.ui.animated.button .hidden.content {
    position: absolute;
    width: 100%;
}

/* Horizontal */
.ui.animated.button .visible.content,
.ui.animated.button .hidden.content {
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
}
.ui.animated.button .visible.content {
    left: auto;
    right: 0%;
}
.ui.animated.button .hidden.content {
    top: 50%;
    left: auto;
    right: -100%;
    margin-top: -0.5em;
}
.ui.animated.button:focus .visible.content,
.ui.animated.button:hover .visible.content {
    left: auto;
    right: 200%;
}
.ui.animated.button:focus .hidden.content,
.ui.animated.button:hover .hidden.content {
    left: auto;
    right: 0%;
}

/* Vertical */
.ui.vertical.animated.button .visible.content,
.ui.vertical.animated.button .hidden.content {
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
    transition: top 0.3s ease, -webkit-transform 0.3s ease;
    transition: top 0.3s ease, transform 0.3s ease;
    transition: top 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.ui.vertical.animated.button .visible.content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    right: auto;
}
.ui.vertical.animated.button .hidden.content {
    top: -50%;
    left: 0%;
    right: auto;
}
.ui.vertical.animated.button:focus .visible.content,
.ui.vertical.animated.button:hover .visible.content {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    right: auto;
}
.ui.vertical.animated.button:focus .hidden.content,
.ui.vertical.animated.button:hover .hidden.content {
    top: 50%;
    right: auto;
}

/* Fade */
.ui.fade.animated.button .visible.content,
.ui.fade.animated.button .hidden.content {
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.ui.fade.animated.button .visible.content {
    left: auto;
    right: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.ui.fade.animated.button .hidden.content {
    opacity: 0;
    left: 0%;
    right: auto;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.ui.fade.animated.button:focus .visible.content,
.ui.fade.animated.button:hover .visible.content {
    left: auto;
    right: auto;
    opacity: 0;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}
.ui.fade.animated.button:focus .hidden.content,
.ui.fade.animated.button:hover .hidden.content {
    left: 0%;
    right: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*-------------------
       Inverted
--------------------*/

.ui.inverted.button {
    box-shadow: 0px 0px 0px 2px #FFFFFF inset !important;
    background: transparent none;
    color: #FFFFFF;
    text-shadow: none !important;
}

/* Group */
.ui.inverted.buttons .button {
    margin: 0px 0px 0px -2px;
}
.ui.inverted.buttons .button:first-child {
    margin-left: 0em;
}
.ui.inverted.vertical.buttons .button {
    margin: 0px 0px -2px 0px;
}
.ui.inverted.vertical.buttons .button:first-child {
    margin-top: 0em;
}

/* States */

/* Hover */
.ui.inverted.button:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 2px #FFFFFF inset !important;
    color: rgba(0, 0, 0, 0.8);
}

/* Active / Focus */
.ui.inverted.button:focus,
.ui.inverted.button.active {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 2px #FFFFFF inset !important;
    color: rgba(0, 0, 0, 0.8);
}

/* Active Focus */
.ui.inverted.button.active:focus {
    background: #DCDDDE;
    box-shadow: 0px 0px 0px 2px #DCDDDE inset !important;
    color: rgba(0, 0, 0, 0.8);
}

/*-------------------
    Labeled Button
--------------------*/

.ui.labeled.button:not(.icon) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: none !important;
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
}
.ui.labeled.button > .button {
    margin: 0px;
}
.ui.labeled.button > .label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 0px 0px -1px !important;
    padding: '';
    font-size: 1em;
    border-color: rgba(34, 36, 38, 0.15);
}

/* Tag */
.ui.labeled.button > .tag.label:before {
    width: 1.85em;
    height: 1.85em;
}

/* Right */
.ui.labeled.button:not([class*="left labeled"]) > .button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui.labeled.button:not([class*="left labeled"]) > .label {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Left Side */
.ui[class*="left labeled"].button > .button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.ui[class*="left labeled"].button > .label {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*-------------------
       Social
-----------------...